
@font-face {
    font-family: iran;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/eot/IRANSansWeb_Bold.eot');
    src: url('fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: iran;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/eot/IRANSansWeb_Medium.eot');
    src: url('fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: iran;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/eot/IRANSansWeb_Light.eot');
    src: url('fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: iran;
    font-style: normal;
    font-weight: 200;
    src: url('fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: iran;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/eot/IRANSansWeb.eot');
    src: url('fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

*{
    font-family: iran;
    box-sizing: border-box;
}

#farzand{
      background-color: #1E7070;
      width: 340px;
      height: 1056px;
      top: 10px;
      right: 5px;
      display: flex;
      flex-direction: row;
      z-index: 2000;
}

.turanlogo{
    width: 70px;
    height: 70px;
    position: absolute;
   top: 25px;
   margin-right: 10px;
   cursor: pointer;
}

.img-logo{
    border-radius: 50%;
}

.admin{
    width: 120px;
    height: 50px;
    top: 20px;
    position: absolute;
    right: 104px;
}

.esmail{
   font-size: 20px;
    color: #ffffff;
}

.admin2{
    position: absolute;
}

.admin2{
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 15px;
    color: #A8A8AA;
}

#zarb{
   visibility: hidden;
}
#fas{
    display: none;
}

.menu{
    width: 300px;
    height: 950px;
    position: absolute;
    top: 100px;
    font-size: 18px;
}

.sandogh{
    color: #ffffff;
    position: absolute;
    white-space: pre;
    left: 197px;
    top: 16px;
}

.hoshdar{
    color: #ffffff;
    position: absolute;
    left: 235px;
    top: 63px;
}

ul{
    text-decoration: none;
    list-style-type: none;
    white-space: pre;
}

a:hover{
    text-decoration: none;
    background-color: #1CBCA7;
    color: #ffffff;
    border-radius: 5px;
    padding: 7px;
}

#danger{
    top: 60px;
    position: absolute;
    left: 160px;
    border-radius: 5px;
}

.container{
    position: absolute;
    top: 149px;
    margin-right: 10px;
}

.squ1,.squ2,.squ3,.squ4{
    width: 10px;
    height: 10px;
    background-color: #90F3E6;
    border-radius: 1px;
    
}


.squ3,.squ4{
position: relative;
right: 11px;
bottom: 21px;
}

.squ3{
    background-color: #ffffff;
}

.squ4,.squ2{
    margin-top: 1px;
}

.egmali{
    position: absolute;
    white-space: pre;
    top: 147px;
    left:130px;
    color: #ffffff;
}


.karbaran{
    position: absolute;
    white-space: pre;
    top: 205px;
    left: 189px;
    color: #ADAFB1;
}

.add{
    color: #ffffff;
    position: absolute;
    top: 260px;
    left: 182px;
}

.list{
   color: #ffffff; 
   position: absolute;
   top: 307px;
   left: 203px;
}

.sath{
    position: absolute;
    color: #ffffff;
    top: 354px;
    left: 103px;
}

.analiz{
    position: absolute;
    top: 419px;
    left: 248px;
    color: #ADAFB1;
}

.moshtarakin{
    color: #ffffff;
    position: absolute;
    top: 484px;
    left: 234px;
}

#danger2{
    position: absolute;
    top: 484px;
    left: 170px;
    border-radius: 5px;
}

.kanal{
    position: absolute;
    top: 531px;
    color: #ffffff;
    left: 242px;
}

.merge{
    position: absolute;
    top: 578px;
    left: 240px;
    color: #ffffff;
}

.report{
    position: absolute;
    top: 625px;
    left: 231px;
    color: #ffffff;
    text-decoration: none;
}



#halat{
display: none;
}

.brt1{
    width: 242.5px;
    height: 160px;
    position: absolute;
    left:0px;
    top: 5px;
}

.clos{
    display: none;
}

#mother{
    width: 972px;
    height: 173px;
    position: absolute;
    top: 10px;
    right:365px;
    display: flex;
    flex-direction: row;
}

#box-panel1{
    width: 242px;
    height: 173px;
    position: absolute;
    background-color: #1E7070;
    border: 1px solid #707070;
}

.jadid{
    font-size: 20px;
    color: #B7ADAD;
    position: absolute;
    left: 27%;
    top: 9.5%;
}

.scv{
    position: absolute;
    top: 36.5%;
    left: 40%;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.pishraft{
    position: absolute;
    top: 72%;
    left: 41%;
    color: #01B075;
    font-size: 20px;
}

.rtv{
    position: absolute;
    top: 72%;
    left: 25%;
}

#box-panel2{
    position: absolute;
    width: 242px;
    height: 173px;
    background-color: #1E7070;
    margin-right: 243px;
    border: 1px solid #707070;
}

.jaryan{
    font-size: 20px;
    color: #B7ADAD;
    position: absolute;
    left: 35%;
    top: 9.5%;
}

.rto{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    top: 36.5%;
    left: 35%;
    position: absolute;
}

.dr2{
    font-size: 20px;
    position: absolute;
    color: #FD4837;
    top: 72%;
    left: 35%;
}

.pasraft{
    top: 70%;
    left: 15%;
    position: absolute;
}

#box-panel3{
    position: absolute;
    width: 242px;
    height: 173px;
    background-color: #1E7070;
    margin-right: 486px;
    border: 1px solid #707070;
}

.tamol{
    position: absolute;
    font-size: 20px;
    color: #B7ADAD;
    position: absolute;
    left: 35%;
    top: 9.5%;
}

.evm{
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    top: 36.5%;
    left: 37%;
}

.rtd{
    top: 72%;
    left: 35%;
    position: absolute;
    color: #01B075;
    font-size: 20px;
}

.dr3{
    position: absolute;
    top: 72%;
    left: 18%;
}

#box-panel4{
    position: absolute;
    background-color: #1E7070;
    width: 242px;
    height: 173px;
    margin-right: 729px;
    border: 1px solid #707070;
}

.meyangin{
    position: absolute;
    font-size: 20px;
    color: #B7ADAD;
    position: absolute;
    left: 20%;
    top: 9.5%;
}

.wel{
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    top: 36.5%;
    left: 30%;
}

.qlt{
    top: 72%;
    left: 40%;
    position: absolute;
    color: #01B075;
    font-size: 20px;
}

.dr4{
    position: absolute;
    top: 72%;
    left: 22%;
}

#nemodar{
    width: 700px;
    height: 462px;
    background-color: #1E7070;
    position: absolute;
    top: 200px;
    right:365px;
    display:flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid #707070;
}

.hozar{
    position: absolute;
    font-size: 20px;
    color: #B0AAAA;
    top: 7%;
    margin-right: 2.5%;
}

.sdf{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    top: 12%;
    position: absolute;
    margin-right: 77.5%;
}

.haft{
    font-size: 20px;
    color: #91ABAB;
    position: absolute;
    top: 23%;
    margin-right:25vw;
}
.dfb{
    font-size: 20px;
    color: #01B075;
    position: absolute;
    top: 23%;
    margin-right: 77%;
}
.rty{
    position: absolute;
    top: 23%;
    margin-right: 90%;
}
.myChart{
    position: absolute;
    top: 37%;
}
#wac{
    width: 270px;
    height: 327px;
    display: flex;
    flex-direction: row;
    right: 1060px;
    top: 200px;
    background-color: #1E7070;
    position: absolute;
    border-radius: 10px;
    border: 1px solid #707070;
}
.gauge {
    width: 100%;
    max-width: 240px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #004033;
    position: relative;
    top: 80px;
    right: 8px;
  }
  
  .gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: rgb(248, 95, 6);
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }
  
  .gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.38turn);
    transition: transform 0.2s ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    height: 150%;
    background: #1E7070;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
    color: #ffffff;
  }
  .img-cover{
      position: absolute;
      margin-top: -77px;
      width: 30px;
      height: 30px;
      margin-right: -130px;
  }
  .rezayat{
      position: absolute;
      top: 8px;
      padding-right: 5px;
      font-size: 20px;
      color: #ABA7A7;
  }
  .pom{
      position: absolute;
      padding-right: 210px;
      padding-top: 8px;
     cursor: pointer;
  }
  .oll{
      font-size: 18px;
      position: absolute;
      margin-right: -30px;
      color: #ABA7A7;
  }
  .tyb{
      position: absolute;
      font-size: 18px;
      margin-right: -255px;
      color: #ABA7A7;
  }
  .ten{
    position: absolute;
    font-size: 14px;
    margin-right: -205px;
    margin-top: 20px;
    color: #ABA7A7;
}
#qsd{
    position: absolute;
    width: 270px;
    height: 350px;
    display: flex;
    flex-direction: row;
    right: 1060px;
    top: 545px;
    background-color: #48AEA1;
    position: absolute;
    border-radius: 10px;
    border: 1px solid #707070;
}
.vebinar{
    font-size: 20px;
    position: absolute;
    color: #ffffff;
    top: 20px;
    right: 35px;
}
.img-vbn{
    position: absolute;
    top: 20px;
    right: 200px;
    cursor: pointer;
}
.matn-vbn{
    font-size: 18px;
    position: absolute;
    top: 70px;
   max-width: 250px;
    color: #ffffff;
    padding: 7px;
}
.matn-vbn2{
    top: 200px;
    position: absolute;
    color: #ffffff;
    max-width: 250px;
    padding: 7px;
}
.amozesh{
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    top: 290px;
   margin-right: 15px;
}
#padcast{
    position: absolute;
    width: 700px;
    height: 552px;
    background-color:  #1E7070;
    top:680px;
    border-radius: 10px;
    margin-right: 365px;
    border: 1px solid #707070;
}
.prt{
    position: absolute;
    color: #7DA1A1;
    margin-right: -94.2%;
    top: 4.5%;
    font-size: 20px;
}
.didan{
    position: absolute;
    color: #1CBCA7;
    margin-right: -14%;
    top: 4.5%;
    font-size: 20px;
}
.live-1{
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: #81A3A3;
    top: 13%;
    margin-right: 5%;
}
.yek{
    font-size: 25px;
    color: #ffffff;
    padding: 7px;
}
.live-2{
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: #81A3A3;
    top: 30.2%;
    margin-right: 5%;
}
.xcv{
    font-size: 25px;
    color: #ffffff;
    padding: 7px;
}
.live-3{
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: #81A3A3;
    top: 47.4%;
    margin-right: 5%;
}
.edf{
    font-size: 25px;
    color: #ffffff;
    padding: 7px; 
}
.live-4{
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: #81A3A3;
    top: 64.5%;
    margin-right: 5%;
}
.wdg{
    font-size: 25px;
    color: #ffffff;
    padding: 7px; 
}
.live-5{
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: #81A3A3;
    top: 81.6%;
    margin-right: 5%;
}
.wer{
    font-size: 25px;
    color: #ffffff;
    padding: 7px; 
}
.zendeh{
    position: absolute;
    width: 250px;
    height: 85%;
    top: 70px;
    margin-right: 70px;
}
.forosh1{
    position: absolute;
    margin-right: -238px;
    font-size: 25px;
    color: #ffffff;
}
.forosh2{
    position: absolute;
    margin-right: -238px;
    font-size: 25px;
    color: #ffffff;
    margin-top: 37%;
}
.forosh3{
    position: absolute;
    margin-right: -238px;
    font-size: 25px;
    color: #ffffff;
    margin-top: 76%;
}
.forosh4{
    position: absolute;
    margin-right: -238px;
    font-size: 25px;
    color: #ffffff;
    margin-top:113%;
}
.forosh5{
    position: absolute;
    margin-right: -238px;
    font-size: 25px;
    color: #ffffff;
    margin-top:150.5%;
}
.mehman1{
    position: absolute;
    color: #B7C4C4;
    font-size: 20px;
}

@media (min-width: 50px) and (max-width: 576px){
.jadid{
    left: 20%;
}

#box-panel2{
    left: 10px;
}
#box-panel1{
   margin-right: -15px;
}
#box-panel3{
    top: 110%;
   left: 54%;
   width: 300px;
}
#box-panel4{
    position: absolute;
    left: 10px;
    top: 110%;
}
.meyangin{
    font-size: 16px;
    left: 15%;
}
#nemodar{
top: 460px;
margin-right: -350px;
height: 350px;
}
.haft{
    font-size: 1em;
    top: 25%;
    margin-right: 20vw;
}
.dfb{
    font-size: 1em;
    top: 25%;
}
.myChart{
    top: 42%;
}
.wel{
    font-size: 20px;
}
.evm{
    font-size: 20px;
}
.rto{
    font-size: 20px;
}
.scv{
    font-size: 20px;
}
.sdf{
    font-size: 20px;
}
#wac{
    width: 400px;
}
.pom{
  padding-right: 85%;
}
.gauge{
    margin-right:10%;
}
#padcast{
    height: 460px;
    margin-top: 490px;
    margin-right: 15px;
}
.didan{
    margin-right: -19%;
    font-size: 18px;
}
.prt{
    font-size: 18px;
}
#qsd{
  margin-top: 630px;
  margin-right: -1000px;
}

#padcast{
    display: none;
}

}
@media (min-width: 576px) and (max-width: 768px){
#box-panel2{
    width: 300px;
}
#box-panel3{
    top: 115%;
    width: 300px;
    margin-right: 0%;
}
#box-panel4{
    top: 200px;
    width: 300px;
    margin-right: 400px;
}
#nemodar{
  top: 480px;
  margin-right: -335px;
}
.rty{
    top: 22%;
}
#wac{
   margin-top: 140px;
   right: 1075px;
   height: 350px;
}
#qsd{
    margin-right: -600px;
    margin-top: 420px;
}
.gauge{
    top: 100px;
}
#padcast{
    margin-top: 665px;
    margin-right: 27px;
}
}



@media only screen and (max-width:768px){
    body{
        background-color: #ececec;
    }

    .esmail{
        font-size: 0.9em;
    }
    .admin{
        right: 80px;
    }
    #zarb,#fas{
        display: block;
    }
    .menu-mobile{
        width: 15px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 10px;
        visibility: visible;
    }
    #zarb{
        position: absolute;
        bottom: 1030px;
        right: 8px;
        visibility: hidden;
        z-index: 2100;
    }
    #fas{
        z-index: 2100;
    }
    #farzand{
       position: absolute;
       margin-right: -400px;
       transition: all ease 1s;
       background-color:  #1a8383;
       top: 5px;
       right: 0px;
    }
   
    .sath{
        left: 110px;
    }

    #box-panel{
        display: block;
    }

    #halat{
        width: 800px;
        height: 50px;
        display: block;
        background-color: #35e2e2;
        position: absolute;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        }
        .icon-foter{
            width: 150px;
            height: 25px;
            position: absolute;
            top:27%;
            right: 30px;
        }
        #shopping{
            position: absolute;
            left: 110px;
            top: 1px;
        }
        #question{
            position: absolute;
            left: 70px;
        }
          
        .clos{
            display: block;
            position: absolute;
           right: 76%;
            top: 12px;
            color: #4e4b4b;
            font-size:16px;
            white-space: pre;
        }
       li{
            font-size: 0.85em;
        }
        .admin2{
            font-size: 0.7em;
            margin-right: 15px;
        }
        #danger{
            width: 1.5em;
            height:1.5em;
              font-size: 0.8em;
            padding: 1px;
        }
        .menu{
            margin-right: -15px;
        }
        .esmail{
            font-size: 0.8em;
        }
        #danger2{
            width: 1.5em;
            height: 1.5em;
            font-size: 0.8em;
            padding: 1px;
        }
        .admin{
            margin-right: -50px;
        }
        .turanlogo{
           width: 60px;
           height: 60px;
           margin-right: -5px;
          margin-top: 2px;
        }
        .img-logo{
            width: 60px;
            height: 60px;
        }
       .hoshdar{
           left: 230px;
       }
       .sath{
          left: 125px;
       }
       .egmali{
          margin-left: 20px;
       }
       #box-panel1{
           width: 300px;
       }
       #mother{
         top: 5em;
         margin-right: -21em;
       }
       #box-panel2{
        margin-right: 400px;
       }
       .sdf{
           margin-right: 65%;
       }
       .dfb{
           margin-right: 63vw;
       }
     .rty{
         top: 24%;
         margin-right: 84%;
     }
     .myChart{
         width: 100%;
         height: 100%;
     }
     #wac{
        top: 827px;
        margin-right: -1045px;
     }
    
}

